.item{
    width: 100%;
    border:1px solid #ccc;
    margin-bottom:25px;
}
.item a{
    text-decoration:none;
}
.content-item{
    padding:10px;
    background-color: white;
}
.image-item{
    width:100%;
}
.item:hover .image-item{
    -webkit-transition-duration: 1s;
    -moz-transition-duration: 1s;
    -o-transition-duration: 1s;
    transition-duration: 1s;

    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;

    -webkit-transform:rotateY(360deg);
    -moz-transform:rotateY(360deg);
    -o-transform:rotateY(360deg);
}
.image-item img{
    margin:0 auto;
}
.title-item{
    width:100%;
    color:black;
}
.price-item{
    color:red;
    font-weight: bold;
    font-size:20px;
}
.buttons-item{
    width:100%;
    margin-top: 10px;
}
.image-modal{
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
}
.image-modal img{
    margin:0 auto;
}
.body-modal{
    width: 100%;
    float:left;
    margin-bottom: 30px;
}
.price-modal{
    color:red;
}
.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    box-shadow: 0px 3px 5px grey;
}
.btn-circle img{
    margin-top: -10px;
    margin-left: -5px;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 13px 13px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
}
.btn-circle input[type='radio']{
    display:none;
}
.activ{
    box-shadow: 0 0 0px 2px #24688a;
}
.img-responsive{
    width:100%;
}
h3{
    margin-top: 5px;
}
.title-select{
    margin-top:10px;
}
.fullpageload{
    position:fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: none;
}
.fullpageload .imgload{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    margin-top: 20%;
}
.fullpageload .imgload img{
    width: 100%;
}






.quantity {
    position: relative;
    float: left;
    width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]
{
    -moz-appearance: textfield;
}

.quantity input {
    height: 42px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border-left: 1px solid #eee;
    width: 20px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "Trebuchet MS", Helvetica, sans-serif !important;
    line-height: 1.7;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 50%;
    top: 0;
    border-bottom: 1px solid #eee;
}

.quantity-button.quantity-down {
    position: absolute;
    bottom: -1px;
    height: 50%;
}


ul.horizontal li {
    float: left;
    margin-bottom: 0px;
}
ul.horizontal {
    width: 100%;
    float: left;
    margin: 0 0 3em 0;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
ul.horizontal li a {
    display: block;
    padding: 8px 15px;
    color:black;
}
ul.horizontal li a:hover {
    color: #c00;
}
ul.horizontal li a.active {
    background-color: rgb(201, 205, 248);
}
footer{
    background: #efefef;
    padding-top: 30px;
    padding-bottom: 30px;
}
.margin-numbers{
    margin-top:10px;
}
.body-modal{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #ccc;
}
.footercontact{
    list-style-type:none;
    margin:0;
    padding:0;
}
li.phone_f {background: url('../img/frontend/mobile_phone2.png')  left no-repeat; line-height: 22px; padding:0px 0 8px 30px;}
li.skype_f {background: url('../img/frontend/skype.png')  left no-repeat; line-height: 22px; padding:0px 0 8px 30px;}
li.clock_f {background: url('../img/frontend/clock2.png')  left no-repeat; line-height: 22px; padding:0px 0 8px 30px;}
li.email_f {background: url('../img/frontend/mail.png')  left no-repeat; line-height: 22px;  padding:0px 0 8px 30px;}
li.address_f {background: url('../img/frontend/home.png')  left no-repeat; line-height: 22px; padding:0px 0 8px 30px;}

.product-text{
    margin-top: 0px;
    margin-bottom: 25px;
    color:white;
    padding: 10px;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,3097d1+44,3097d1+59,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, #3097d1 44%, #3097d1 59%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,#3097d1 44%,#3097d1 59%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,#3097d1 44%,#3097d1 59%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
.line-burlacul{
    height: 5px;
    margin-bottom: 10px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,3097d1+44,3097d1+59,ffffff+100 */
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(left, #ffffff 0%, red 44%, red 59%, #ffffff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #ffffff 0%,red 44%,red 59%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #ffffff 0%,red 44%,red 59%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}
#burlacul-text {
    transform: translate(-150px, -50px) rotate(-180deg) scale(3);
    animation: revolveScale 1s forwards;
}
@keyframes revolveScale {
    0% {
        transform: translate(20px, 20px) rotate(90deg) scale(.3);
    }

    100% {
        transform: translate(0) rotate(0) scale(1);
        opacity: 1;
    }
}